* {
    margin: 0px;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    justify-content:space-between;
    
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
}

ul.header-links {
    list-style-type: none;
}

.header-links {
    display: flex;
    gap: 20px;
    color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
}